<link rel="stylesheet" type="text/css" href="stylesheets/firstLetter.css" />
<div class="header">
    <img src="images/sap_image.png" alt="" class="image backIcon" rows="1" ui-sref="home"/>

    <label class="gameTitle"><img src="images/Title_BG.png"  style="width:405px;height:64px"></label>

    <div class="subHeader">
        <label class="smallBox scoreNumber"><h1>0</h1></label>
        <label class="smallBox"><img src="images/score.png"  style="width:205px;height:54px;margin-bottom: 10px"></label>
        <label class="smallBox"><img src="images/Izzy_Shapira_Logo_BG.png"  style="width:200px; height:70px"></label>
    </div>
</div>

<div class="middlePart">
    <div class="animaleImage">
        <img src="images/animales/lion_Alef.jpg" alt="lion" style="width:448px;height:285px">
    </div>
    <div class="enlargedLatter">
        <img src="images/question.png" style="width:448px;height:285px">
    </div>
</div>
<div id="container">
    <div class="line">
        <ul class="keyboard">
            <li><img src="images/letters/Pe.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Mem1.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Nun1.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Vav.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Tet.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Alef.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Reish.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Kuf.png"  style="width:60px;height:60px"></li>
            <li class="letter special"></li>
            <li class="letter special"></li>
        </ul>
    </div>

    <div class="line2">
        <ul class="keyboard">
            <li><img src="images/letters/Pe1.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Kaf1.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Lamed.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Chet.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Yud.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Ayin.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Kaf.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Gimel.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Dalet.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Shin.png"  style="width:60px;height:60px"></li>
        </ul>
    </div>

    <div class="line3">
        <ul class="keyboard">
            <li class="letter"></li>
            <li><img src="images/letters/Zadik1.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Taf.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Zadik.png"  style="width:50px;height:60px"></li>
            <li><img src="images/letters/Mem.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Nun.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Hey.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Bet.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Samech.png"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Zain.png"  style="width:60px;height:60px"></li>
        </ul>
    </div>
    <ul class="keyboard">
        <li class="icons letter fa fa-keyboard-o"></li>
        <li class="letter"></li>
        <li class="space lastitem"><img class="space" src="images/move.png"  style="width:100px;height:60px"></li>
        <li class="icons letter  fa fa-globe "></li>
        <li class="letter"></li>
    </ul>

</div>

