<link rel="stylesheet" type="text/css" href="stylesheets/firstLetter.css" />
<div class="header">
    <img src="images/house.png" alt="" class="image backIcon" rows="1" ui-sref="home"/>

    <label class="gameTitle"><img src="images/Title_BG.png"  style="width:405px;height:64px"></label>

    <div class="subHeader">
        <label class="smallBox scoreNumber transition">
            <h1>{{val}}</h1>
        </label>
        <label class="smallBox"><img src="images/score.png"  style="width:205px;height:54px;margin-bottom: 10px"></label>
        <label class="smallBox"><img src="images/Izzy_Shapira_Logo_BG.png"  style="width:145px; height:70px"></label>
    </div>
</div>

<div class="middlePart">
    <div class="animaleImage">
        <img src="images/animales/lion_Alef.jpg" alt="lion" style="width:448px;height:285px">
    </div>
    <div class="enlargedLatter transition">
        <img src="images/question.png" style="width:448px;height:285px">
    </div>
</div>
<div ng-include="'views/keyboard.html'"></div>

