<link rel="stylesheet" type="text/css" href="stylesheets/home.css" />
<img src="images/sap_image.png"  class="sapLogo " rows="1" >
<img src="images/Izzy_Shapira_Logo_BG.png"  class="iziShapiraLogo " rows="1" >
<div class="clouds">
    <div class="cloud" id="cloud2" ui-sref="completeTheWord">
        <img src="images/cloud_Game2.png" style="width: 400px;">
    </div>
    <div class="cloud" ui-sref="firstLetter">
        <img src="images/cloud_Game1.png"  style="width: 400px;">
    </div>
    <div class="cloud" ui-sref="knowTheLetters">
        <img src="images/cloud_Game3.png"  style="width: 400px;">
    </div>
</div>



</div>

