<div id="container">
    <div class="line">
        <ul class="keyboard">
            <li><img src="images/letters/Pe.png"  ng-click="keyPressed('Pe.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Mem1.png"  ng-click="keyPressed('Mem1.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Nun1.png"  ng-click="keyPressed('Nun1.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Vav.png"  ng-click="keyPressed('Vav.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Tet.png"  ng-click="keyPressed('Tet.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Alef.png"  ng-click="keyPressed('Alef.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Reish.png"  ng-click="keyPressed('Reish.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Kuf.png"  ng-click="keyPressed('Kuf.png')" style="width:60px;height:60px"></li>
            <li class="letter special"></li>
            <li class="letter special"></li>
        </ul>
    </div>

    <div class="line2">
        <ul class="keyboard">
            <li><img src="images/letters/Pe1.png"  ng-click="keyPressed('Pe1.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Kaf1.png"  ng-click="keyPressed('Kaf1.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Lamed.png"  ng-click="keyPressed('Lamed.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Chet.png"  ng-click="keyPressed('Chet.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Yud.png"  ng-click="keyPressed('Yud.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Ayin.png"  ng-click="keyPressed('Ayin.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Kaf.png"  ng-click="keyPressed('Kaf.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Gimel.png"  ng-click="keyPressed('Gimel.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Dalet.png"  ng-click="keyPressed('Dalet.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Shin.png"  ng-click="keyPressed('Shin.png')" style="width:60px;height:60px"></li>
        </ul>
    </div>

    <div class="line3">
        <ul class="keyboard">
            <li class="letter "><img class="backSpace" src="images/backSpace.png" ng-click="keyPressed('backSpace')"  style="width:60px;height:60px"></li>
            <li><img src="images/letters/Zadik1.png"  ng-click="keyPressed('Zadik1.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Taf.png"  ng-click="keyPressed('Taf.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Zadik.png"  ng-click="keyPressed('Zadik.png')" style="width:50px;height:60px"></li>
            <li><img src="images/letters/Mem.png"  ng-click="keyPressed('Mem.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Nun.png"  ng-click="keyPressed('Nun.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Hey.png"  ng-click="keyPressed('Hey.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Bet.png"  ng-click="keyPressed('Bet.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Samech.png"  ng-click="keyPressed('Samech.png')" style="width:60px;height:60px"></li>
            <li><img src="images/letters/Zain.png"  ng-click="keyPressed('Zain.png')" style="width:60px;height:60px"></li>
        </ul>
    </div>
    <ul class="keyboard">
        <li class="letter"></li>
        <li class="letter"></li>
        <li class="space lastitem" ng-click="keyPressed('space')"><img class="space" src="images/move.png"  style="width:100px;height:60px"></li>
        <li class="icons letter  fa fa-globe "></li>
        <li class="letter"></li>

    </ul>

</div>