<link rel="stylesheet" type="text/css" href="stylesheets/knowTheLetters.css" />
<div class="header">
    <img src="images/sap_image.png" alt="" class="image backIcon" rows="1" ng-click="" ui-sref="home"/>

    <label class="gameTitle"><img src="images/Title_BG.png"  style="width:405px;height:64px"></label>

    <div class="subHeader">
        <label class="smallBox"><img src="images/Izzy_Shapira_Logo_BG.png"  style="width:200px; height:70px"></label>
    </div>
</div>

<div class="middlePart">

    <div class="enlargedLatter">
        <img src="images/question.png" style="width:200px;height:200px">
    </div>
</div>
<div ng-include="'views/keyboard.html'"></div>

