<link rel="stylesheet" type="text/css" href="stylesheets/knowTheLetters.css" />
<div class="header">
    <img src="images/house.png" alt="" class="image backIcon" rows="1" ng-click="" ui-sref="home"/>

    <label class="gameTitle"><img src="images/knowTheLetters.png"  style="width:405px;height:64px"></label>
</div>

<div class="middlePart">

    <div class="enlargedLatter">
        <img src="images/question.png" style="width:200px;height:200px">
    </div>
</div>
<div ng-include="'views/keyboard.html'"></div>

