body{
}

.topLine{
    border-top: 5px solid deepskyblue;
    top: 0px;
    width: 100%;
    position: absolute;
    left: 0px;
}
.cloud {
    cursor: pointer;
    width: 31%;
    float: right;
}
.cloud img{
    width: 90%;
}

.sapLogo{
    position: relative;
    top: 0px;
    left: 5px;
    width: 200px;
}

.iziShapiraLogo{
    position: relative;
    float: right;
    right: 5px;
    width: 200px;
}

.clouds{
    position: absolute;
    top: 13%;
    display: inline-block;
    float: right;
    right: 0px;
}

.cloud {
    position: relative;
    display: inline-block;
}
.title{
    position: relative;
    width: 100%;
}
h1 {
    position: absolute;
    top: 158px;
    left: 156px;
}
