/* ANIMATIONS
============================================================================= */
[ui-view].ng-enter 	{
    transition:1s;
    opacity: 0;
}
[ui-view].ng-enter-active{
    opacity: 1;
}
[ui-view].ng-leave 	{
}
[ui-view].ng-leave-active{
    transition: 1s;
    opacity: 0;
}
/* ========================================================================= */