* {
    margin: 0;
    padding: 0;
}
body {
    font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    background: #eee;
    position: absolute;
    width: 100%;

}

#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 94%;
    margin-left: 27px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

.keyboard li {
    float: right;
    font-size: 150%;
    margin: 0 5px 5px 0;
    width: 85px;
    height: 64px;
    line-height: 57px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: yellow;
    border: 1px solid black;
}

.titleHeader li{
    float: right;
    margin: 0 5px 5px 0;
    width: 85px;
    height: 64px;
    line-height: 57px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: transparent;
}
.keyboard li:hover {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}
.keyboard .space {
    clear: left;
    width: 60%;
    margin-left: 5px;
    margin-right: 5px;
}
.on {
    display: none;
}
.keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}


.line2{
    margin-left: 51px;
    display: inline-block;
}
.line3{
    margin-left: 102px;
    display: inline-block;
}


body{
    background-image: url("../images/giftly.png");
}

.icons.icons{
    font-size: 200%;
    color: black;
    line-height: 63px;
}

.enlargedLatter img{
    margin: 0 auto;
    display: inherit;
}


.header{
    font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background: bisque;
    height: 70px;
    padding-top: 10px;
    width:100%;
    border-bottom: 5px solid yellow;
}

.subHeader{
    float: right;
    height: inherit;
    margin-right: 16px;
    top: 7px;
    right: 0px;
    position: absolute;
}

.image{
    width: 174px;
    position: absolute;
    top: 0px;
}
.smallBox{
    display: inline-block;
    margin-right: 16px;
    font-size: 189%;
}
.smallBox.scoreNumber{
    top: -18px;
    position: relative;
}
.gameTitle{
    display: inherit;
    width: 500px;
}
.gameTitle img{
    margin-left: 6em;
}

.image.backIcon{
    cursor: pointer;
}
.middlePart{
    position: relative;
    top: 58px;
    left: 22px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .middlePart{
        position: relative;
        margin: 0px auto;
        width: 1025px;
        top: 12px;
    }
    #container {
        margin: 100px auto;
        width: 1023px;

    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1200px) and ( min-width: 813px) {
    .middlePart{
        position: relative;
        top: 58px;
        left: 22px;
        top: 12px;
    }
    #container {
        margin: 50px auto;

    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 813px) {
    .middlePart{
        position: relative;
        top: 58px;
        left: 22px;
    }
    #container {
        margin: 50px auto;
        width: 1023px;
        top: 356px;

    }
}
